# Briggs GO
MBTI Test using AI/ML

In [1]:
import tensorflow as tf

"""Using Normal Pandas"""
import pandas as pd
"""Using Modin For Faster Data Processing (UNSTABLE)"""
# import modin.pandas as pd
# from distributed import Client
# client = Client()


import numpy as np
import matplotlib.pyplot as plt

## Checking GPU Availability and Tensorflow Version

In [2]:
print(f"Tensorflow Version: {tf.__version__} | GPU Available: {len(tf.config.list_physical_devices('GPU'))}")

Tensorflow Version: 2.6.0 | GPU Available: 1

## Loading Data

In [3]:
df = pd.read_csv("dataset/mbti_1.csv")

In [4]:
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

## Preprocessing Data

### Data Before Preprocessing

In [5]:
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

### Removing URL

In [6]:
import re

In [7]:
def remove_url(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'', text)

In [8]:
df['posts'] = df['posts'].apply(lambda x: remove_url(x))

In [9]:
df.head()

   type                                              posts
0  INFJ  ' and intj moments    sportscenter not top ten...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____    course, to which I say I k...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

## Data Normalization

In [10]:
def remove_punctuation(text):
    table = re.sub(r'[^\w\s]', ' ', text)
    return table

def remove_underscore(text):
    table = re.sub(r'_', ' ', text)
    return table

def remove_extra_space(text):
    # remove extra space
    return re.sub(r'\s+', ' ', text)

In [11]:
df['posts'] = df['posts'].apply(lambda x: remove_punctuation(x))
df['posts'] = df['posts'].apply(lambda x: remove_underscore(x))
df['posts'] = df['posts'].apply(lambda x: remove_extra_space(x))
df.head()

   type                                              posts
0  INFJ   and intj moments sportscenter not top ten pla...
1  ENTP   I m finding the lack of me in these posts ver...
2  INTP   Good one course to which I say I know that s ...
3  INTJ   Dear INTP I enjoyed our conversation the othe...
4  ENTJ   You re fired That s another silly misconcepti...

### Tokenization

In [12]:
from nltk.tokenize import word_tokenize

In [13]:
def tokenization(text):
    return word_tokenize(text)

In [14]:
df['posts'] = df['posts'].apply(lambda x: tokenization(x))

In [15]:
df

      type                                              posts
0     INFJ  [and, intj, moments, sportscenter, not, top, t...
1     ENTP  [I, m, finding, the, lack, of, me, in, these, ...
2     INTP  [Good, one, course, to, which, I, say, I, know...
3     INTJ  [Dear, INTP, I, enjoyed, our, conversation, th...
4     ENTJ  [You, re, fired, That, s, another, silly, misc...
...    ...                                                ...
8670  ISFP  [just, because, I, always, think, of, cats, as...
8671  ENFP  [So, if, this, thread, already, exists, somepl...
8672  INTP  [So, many, questions, when, i, do, these, thin...
8673  INFP  [I, am, very, conflicted, right, now, when, it...
8674  INFP  [It, has, been, too, long, since, I, have, bee...

[8675 rows x 2 columns]

## remove stop words

In [ ]:
def re